.text-edit{

    display: block;
    width: 1026px;
    margin: 0 auto;

}
.variable, .wave, .alphabet, .placeholdertext, .ggg, .glyphs{

    display: block;
    justify-content: center;
    align-items: center;  

}
.wave, .placeholdertext, .glyphs{

    background-color:#9AAED5;
}
img{
    width: 100%;

    display: block;
    justify-content: center;
    align-items: center;

    z-index: 10;
}
.img-grid{

    min-width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0 auto;
    margin-right: 0 auto;

}

#height, #spacing, #size{

    font-family: 'degular', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
    margin: 0 auto;
}
.value_container{

    font-size: 1.2rem;
    font-family: 'degular', sans-serif;
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;

    text-align: center;

}
@media screen and (max-width:600px){

    .value_container{
        
        font-size: 1rem;
        
        display: grid;
        grid-template-rows: repeat(3,1fr);
        justify-content: center;
        align-items: center;
        
        line-height: 27px;
        
        margin-left: 25px;
        
        width:90%;

        text-align: center;

    }
    #height, #spacing, #size{

        font-size: 1rem;
        
    }
}
#letter_spacing, #size_font, #line_height{


    text-align: center;

}
input{
    cursor: grab;
    margin-right: 20px;
}
#sizeInput{
    
    color: black;
}
select{
    font-size: 1rem;
    margin-left: 15px;
}
